header {
  .menu-icon--open {
    span {
      transform-origin: left;
      width: 32px;
      transition: transform 0.3s ease-in-out;

      &:nth-of-type(1) {
        transform: rotate(45deg) translateY(-4px);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg) translateY(4px);
      }
    }
  }
  .active {
    transform: translateX(0px);
  }
}
