.footer {
  display: flex;
  flex-direction: column;
  gap: 60px;

  // @media screen and (max-width: 768px) {
  //   height: auto;
  // }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-family: "Abhaya Libre";
        font-style: normal;
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 3.75rem;
      }

      h2 {
        font-family: "Abhaya Libre Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 32px;
      }

      p {
        font-family: "Abhaya Libre";
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 146.47%;
      }
    }

    .footer-other-half {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: 30px;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }

      @media screen and (max-width: 494px) {
        grid-template-columns: 1fr;
        gap: 30px;
      }

      .center1,
      .center2 {
        // justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          font-family: "Abhaya Libre";
          font-style: normal;
          font-weight: 700;
          font-size: 1.563rem;
          line-height: 105.47%;
          letter-spacing: 0.09em;
          margin-bottom: 3rem;
        }

        a {
          text-decoration: none;
          font-family: "Abhaya Libre";
          font-style: normal;
          font-weight: 400;
          font-size: 1.188rem;
          line-height: 146.47%;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
          font-family: "Abhaya Libre";
          font-style: normal;
          font-weight: 700;
          font-size: 1.563rem;
          line-height: 105.47%;
          letter-spacing: 0.09em;
        }

        .inner-right {
          display: flex;
          flex-direction: column;
          gap: 10px;

          div {
            display: flex;
            flex-direction: row;
            gap: 20px;

            @media screen and (max-width: 350px) {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }

            h1 {
              width: 6.25rem;
              height: 2.125rem;
              font-family: "Abhaya Libre Medium";
              font-style: normal;
              font-weight: 500;
              font-size: 1.438rem;
              line-height: 146.47%;
            }

            p {
              font-family: "Abhaya Libre";
              font-style: normal;
              font-weight: 400;
              font-size: 1.188rem;
              line-height: 146.47%;

              @media screen and (max-width: 350px) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    margin: 1rem 0;
    box-sizing: border-box;
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 146.47%;
    text-align: center;
    color: #5f5f5f;

    span {
      color: #fff;
    }
  }
}
