@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  p {
    @apply text-lightGrey;
  }

  [type="text"],
  textarea {
    background-color: transparent;
    border: none;
    outline: none;
    color: #dedede;
    height: 100%;
    width: 100%;
    font-size: 23px;
  }

  [type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: theme("colors.darkGrey");
    height: 25px;
    width: 25px;
    border: 1px solid theme("colors.gold");
    display: grid;
    place-items: center;

    &::before {
      content: url("./assets/Check.svg");
      display: grid;
      place-items: center;
      width: inherit;
      height: inherit;
      background-color: theme("colors.gold");
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}

@layer components {
  .input {
    padding: 0 15px;
    height: 55px;
    border-bottom: 1px solid theme("colors.gold");
    position: relative;
    max-width: 450px;
  }

  .title {
    background: linear-gradient(
      268.86deg,
      theme("colors.gold") 10.03%,
      rgba(255, 208, 168, 0.28) 118.88%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;

    @screen lg {
      // .title {
      font-size: 70px;
      // }
    }
  }
}
